html {
  font-family: sans-serif;
  background-color: black;
}

.homepage-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  height: 30px;
  letter-spacing: 1px;
}
