.results-container {
  width: 100%;
  padding: 20px 10%;
}
.gif {
  height: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  margin: 10px 0;
}
.gif img {
  /* flex-shrink: 0; */
  /* min-height: 100% */
}
